{% extends 'base.html.twig' %}

{% block title %}New Sponsors{% endblock %}

{% block body %}
    <h1>Create new Sponsors</h1>

    {{ include('sponsors/_form.html.twig') }}

    <a href="{{ path('sponsors_index') }}">back to list</a>
{% endblock %}
