{% extends 'base.html.twig' %}

{% block title %}Edit EventRoomsPrivacy{% endblock %}

{% block body %}
    <h1>Edit EventRoomsPrivacy</h1>

    {{ include('event_rooms_privacy/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('event_rooms_privacy_index') }}">back to list</a>

    {{ include('event_rooms_privacy/_delete_form.html.twig') }}
{% endblock %}
