{% extends 'base.html.twig' %}

{% block title %}New EventRoomsPrivacy{% endblock %}

{% block body %}
    <h1>Create new EventRoomsPrivacy</h1>

    {{ include('event_rooms_privacy/_form.html.twig') }}

    <a href="{{ path('event_rooms_privacy_index') }}">back to list</a>
{% endblock %}
