<form method="post" action="{{ path('notes_categories_delete', {'id': notes_category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notes_category.id) }}">
    <button class="btn">Delete</button>
</form>
