{% extends 'base.html.twig' %}

{% block title %}Edit EventRooms{% endblock %}

{% block body %}
    <h1>Edit EventRooms</h1>

    {{ include('key_words/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('key_words_index') }}">back to list</a>

    {{ include('key_words/_delete_form.html.twig') }}
{% endblock %}
