{% extends 'base.html.twig' %}

{% block title %}Edit EventAssociatedProfileFeilds{% endblock %}

{% block body %}
    <h1>Edit EventAssociatedProfileFeilds</h1>

    {{ include('event_associated_profile_feilds/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('event_associated_profile_feilds_index') }}">back to list</a>

    {{ include('event_associated_profile_feilds/_delete_form.html.twig') }}
{% endblock %}
